body{
    text-align: center;
    font-family: 'Caveat', cursive;
    background-color: whitesmoke;
    color:rgb(34, 34, 34);
}
#iniciar{
    background-color: whitesmoke;
    border: 1px solid rgb(163, 163, 163);
    font-family: 'Caveat', cursive;
    height: 30px;
    
}
#camera{
    border: 1px solid rgb(163, 163, 163);
    width:360px;
    height: 250px;
}